body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.month-sheet {
    display: flex;
    position: relative;
    height: 20px;
}

.month-label {
    position: absolute;
}

.activity-sheet {
    display: flex;
    gap: 1px;
}

.week-sheet {
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.popover {
    flex-direction: column;
    max-height: 450px;
    max-width: 300px;
    overflow: hidden;
    gap: 3px;
    position-area: bottom;
    margin: 0;
    inset: auto;
    border: 0px;
}

.popover:popover-open {
    display: flex;
}

.popover a {
    display: block;
}

.day-cell {
    width: 10px;
    height: 10px;
    border: 0.5px solid #000000;
    border-radius: 2px;
    padding: 0;
}