body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.month-sheet {
    display: flex;
    position: relative;
    height: 20px;
}

.month-label {
    position: absolute;
}

.activity-sheet {
    display: flex;
    gap: 1px;
}

.week-sheet {
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.day-cell {
    width: 10px;
    height: 10px;
    border: 0.5px solid #000000;
    border-radius: 3px;
}