{{define "activity-sheet"}}
    <div class="month-sheet">
        {{ range .Months }}
            <div
                class="month-label"
                style="left: calc({{ .WeekNumber }} * 11px);"
            >
                {{ .Name }}
            </div>
        {{ end }}
    </div>
    <div class="activity-sheet">
        {{ range $weekIndex, $week := .Weeks }}
            <div class="week-sheet">
                {{ range $dayIndex, $day := $week.Days }}
                    {{ if $day }}
                        <button
                            class="day-cell"
                            style="{{ dayBackground $day.Colors }}"
                            popovertarget="day-{{printf "%p" $day}}"
                        ></button>
                        {{ if gt (len $day.Commits) 0 }}
                            <div class="popover" popover id="day-{{printf "%p" $day}}">
                                {{ range $day.Commits }}
                                    <a href="{{.CommitUrl}}">{{.Message}}</a>
                                {{ end }}
                            </div>
                        {{ end }}
                    {{ else }}
                        <div style="width: 10px; height: 10px;"></div>
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Git Activity</title>
</head>
<body>
    <p>Last activity</p>
        {{ template "activity-sheet" .CurrentActivity}}
    <p>2026 Year activity</p>
        {{ range .YearActivities}}
            {{ template "activity-sheet" .}}
        {{ end }}
    <footer>
        <p>Created with <a href="https://github.com/aguilam/git-activity">Git Activity</a></p>
    </footer>
</body>
</html>